.OrderBookx10000 {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow: hidden;
  min-height: min(536px, 60vh);
}

.OrderBookx10000-book {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  overflow: hidden;
  min-height: 0;
}

.OrderBookx10000-trades {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.OrderBookx10000-row {
  font-variant-numeric: tabular-nums;
}

.OrderBookx10000-asks {
  min-height: 0;
  overflow-y: auto;
}

.OrderBookx10000-bids {
  min-height: 0;
  overflow-y: auto;
}


